
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins";
    padding: 10px; /* Example padding */
  }
  
  .left, .right {
    display: flex;
    padding: 10px;
  }

  .left > div, .right > div {
    margin-right: 10px; /* Adjust as needed for the spacing between elements */
  }

  .center {
    flex-grow: 1;
    text-align: center;
    font-size: 40px;
  }
  