.welcome{
    display: flex;
    justify-content: space-between;
    font-family: "Poppins";
    padding-left: 40px;
    padding-top: 100px;
    font-size: 40px;
    font-style: bold;
}
/* Define keyframes for the animation */
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation to the text */
.animatefrombottom {
  animation: slideInFromBottom 2s ease-out forwards;
}

.buttons {
    text-align: center;
    padding-bottom: 80px;
  }
  
  .buttons a {
    font-family: "Poppins";
    display: inline-block;
    margin: 0 30px; /* Adjust the space between buttons */
    padding: 10px 25px; /* Adjust padding as needed */
    text-decoration: none; /* Text color */
    border-radius: 10px;
    font-size: 20px; /* Adjust font size as needed */
  }
  
  .signup-button {
    background-color: rgb(239, 243, 244);
    color:rgb(0, 119, 255) /* Background color for Sign Up button */
  }
  
  .signin-button {
    color:white;
    background-color: darkblue; /* Background color for Sign In button */
  }

.animal{
    right:0;
}