<div>
    <div class="welcome">
        <div class="animatefrombottom">
        Welcome to Real Time chat !<br/>
        Your comfort place to<br/>
        Hang Out !
        </div>
        <div>
        <img src="assets/monkey.png" height="300" width="300" alt="png"/>
        </div>
    </div>
    <div class="buttons">
        <a routerLink="/signup" class="signup-button">Sign Up</a>
        <a routerLink="/login" class="signin-button">Login</a>
    </div>
    <div class="animal">
        
    </div>
</div>
