<div class="animatefrombottom">
    <div class="heading">
        Connect with people from around the world !
    </div>
    <div class="cards">
        <div class="card1">
            <img src="assets/emoji1.png" height="100" width="100"/><br/>
            Express your views anonymously
        </div>
        <div class="card2">
            <img src="assets/emoji2.png" height="100" width="110"/><br/>
            Share text, audio, video or GIFs 
        </div>
        <div class="card3">
            <img src="assets/emoji3.png" height="100" width="140"/><br/>
            Keep the platform user-friendly
        </div>
    </div>
</div>
